/* your styles go here */

.red {
    color: red !important;
}

.select2.select2-container.select2-container--default {
    display: none;
}

.select2 {
    margin-bottom: 0px !important;
}

.input-normal {
    background: white !important;
}

.input-date {
    background: white !important;
}

select option[disabled] {
    color: #aaa;
    background-color: #eee;
}

select option {
    color: #444 !important;
}

.datepicker .datepicker-switch,
.datepicker .prev,
.datepicker .next,
.datepicker .day {
    text-align: center;
    cursor: pointer;
}

.datepicker .year,
.datepicker .month {
    padding: 5px;
    border-right: solid gray 1px;
    cursor: pointer;
}

.datepicker .year:hover,
.datepicker .month:hover,
.datepicker .day:hover {
    background-color: lightgray;
    text-align: center;
    cursor: pointer;
}

.datepicker .active.day {
    background-color: gray;
    color: white;
}

.btn-action-cari {
    cursor: pointer;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

.popup-table tbody tr {
    cursor: pointer;
}

.popup-table tbody tr.active {
    background-color: skyblue;
}

.btn-block {}

.pagination li {
    display: inline-block;
}

.pagination li a {
    color: black !important;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.pagination li.active a {
    background-color: #419bab !important;
    color: white !important;
}

.pagination li a:hover:not(.active) {
    background-color: #ddd !important;
}

.tables {
    padding-bottom: 10px !important;
}

.hidden {
    display: none !important;
}


/*** PANEL PRIMARY ***/

.my-nav-tabs .panel-heading {
    background-color: #419bab !important;
    color: white !important;
}

.my-nav-tabs .panel-heading .nav-tabs {
    padding: 10px;
    padding-bottom: 0px;
}

.my-nav-tabs .panel-heading .nav-tabs li {
    padding: 10px;
    margin: 0px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.my-nav-tabs .panel-heading .nav-tabs li.active {
    background-color: white !important;
    color: #419bab !important;
}

.my-nav-tabs .panel-heading .nav-tabs li a {
    text-decoration: none;
}

.my-nav-tabs .panel-heading .nav-tabs li.active a {
    color: #419bab !important;
}

.my-nav-tabs .tab-pane.fade.active.in {
    display: inline-block !important;
    color: red;
    opacity: 1;
    padding: 10px;
}

.menu-parent {
    cursor: pointer;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sub-menu {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.sub-menu.out {
    display: none;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.item-sub-menu {
    padding-left: 20px;
}

.item-sub-menu a {
    background-color: white !important;
}

.item-sub-menu a:hover {
    background-color: #92ccd6 !important;
    color: white;
}

.item-sub-menu.active a {
    background: #eef5f9 !important;
    /* color: white; */
}

.dashboard-jenis-barang,
.dashboard-kondisi-barang {
    display: inline-flex;
    /* display: inline-block; */
    text-align: center;
    overflow-x: auto;
    padding-bottom: 0px;
}

.item-dashboard {
    min-width: calc(33% - 20px);
    margin: 10px;
}

.bg-main {
    background-color: #419bab !important;
    color: white;
}