.menu-sub-head{
	padding: 15px;
	font-weight: 600;

}

.menu-sub-items{
	margin-top: 10px;
	padding-left: 10px;
}

.list-image-pengguna {
	width: 80px;
	height: 80px;
}

.cursor{
	cursor: pointer;
}

.row-kondisi{
	font-weight: 800;
}

.row-kondisi-remisi{
	color: #18A94A;
}

.row-kondisi-sedang{
	color: #FAA21D;
}

.row-kondisi-berat{
	color: #C01F25;
}

.item-kondisi{
	color: #fff;	
}

.item-kondisi .value{
	font-size: 40px;
}

.item-kondisi[d-type='remisi'] .item-kondisi-body{
	background: #18A94A;	
}

.item-kondisi[d-type='sedang'] .item-kondisi-body{
	background: #FAA21D;	
}

.item-kondisi[d-type='berat'] .item-kondisi-body{
	background: #C01F25;	
}

.item-kondisi[d-type='all'] .item-kondisi-body{
	background: #1778AB;	
}
