body {
    background-color: #dedede;
}

.topbar {
    background: #2A3F54;
    border-color: #2A3F54;
    border-radius: 0px;
}

.topbar .navbar-header a {
    color: #ffffff;
}

.wrapper {
    padding-left: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar {
    z-index: 1000;
    position: fixed;
    top: 50px;
    left: -50px;
    width: 50px;
    height: 100%;
    overflow-y: auto;
    background: #2A3F54;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main {
    width: 100%;
    position: relative;
    padding-bottom: 20px;
}

.wrapper.toggled {
    padding-left: 50px;
}

.wrapper.toggled .sidebar {
    left: 0;
}

.red {
    color: red;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 52px;
    width: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #e8e8e8;
    padding: 0;
    text-align: center;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active a {
    text-decoration: none;
    color: #fff;
    background: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav li span,
.subbar li span {
    display: none;
}

nav.subbar {
    position: relative;
    width: 100%;
    border-radius: 0px;
    background: #fff;
    margin: 50px 0 -50px 0;
    padding: 10px 0 0 0;
    z-index: 2;
}

nav.subbar>ul.nav.nav-tabs {
    padding: 0 5px;
}

nav.subbar>ul.nav.nav-tabs>li.active>a {
    background: #dedede;
    border-top: 1px solid #a6a6a6;
    border-left: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
    border-radius: 0px;
}

.content {
    margin-top: 70px;
    padding: 0 30px;
}

@media(min-width:768px) {
    .subbar li span {
        display: inline;
    }
}

@media(min-width:992px) {
    .wrapper {
        padding-left: 50px;
    }
    .sidebar {
        left: 0;
        width: 50px;
    }
    .wrapper.toggled {
        padding-left: 200px;
    }
    .wrapper.toggled .sidebar,
    .wrapper.toggled .sidebar-nav {
        width: 200px;
    }
    .wrapper.toggled .sidebar-nav li a {
        text-align: left;
        padding: 0 0 0 10px;
    }
    .wrapper.toggled .sidebar-nav li span {
        display: inline;
    }
}

.navbar-btn {
    background: none;
    border: none;
    height: 65px;
    min-width: 35px;
    color: #fff;
}

.navbar-text {
    margin-top: 14px;
    margin-bottom: 14px;
}

@media (min-width: 768px) {
    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.box-menu {
    padding: 30px;
    height: 144px !important;
    /* padding-top: calc(50% - 100px) !important; */
    margin: 10px auto;
    text-align: center !important;
    font-size: 20px !important;
}

.spkp-table thead th {
    background: #57b7df;
    text-align: center;
}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.box-n .bx {
    height: 100vh;
    margin: auto;
    text-align: center;
}

.login-page .box-left {
    background-color: #2A3F54;
}

.akun-foto {
    width: 48px;
}

.menu-list {
    margin-top: 0px !important;
}

.page-beranda .box-menu {
    cursor: pointer !important;
}

.page-beranda .box-menu a {
    text-decoration: none !important;
}

.spkp-table tr {
    cursor: pointer !important;
}

.spkp-table tr.active td {
    background: #57b7df !important;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 45px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 45px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 45px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}