  body {
      background: center bottom;
      background-color: #f7ebee;
      /* background: url('../media/images/background.png') no-repeat; */
      background-size: 100%;
      color: #444;
      font-family: "Bookman Old Style";
  }
  
  .icon-img {
      width: 72px;
      z-index: 1000;
      position: relative;
  }
  
  .icon_menu {
      font-size: 70px !important;
  }
  
  .text_menu {
      font-size: 20px;
  }
  
  .home {
      position: relative;
      height: 100vh;
      text-align: center;
      width: 100%;
      background-color: #0099ff;
  }
  
  .box-top {
      position: relative;
      height: 60vh;
      width: 100%;
  }
  
  .box-title-app,
  .box-title-app-mobile {
      color: white;
      position: absolute;
      width: 100%;
      bottom: 40px;
      text-align: center;
      font-family: "Bookman Old Style";
  }
  
  .logo-app {
      width: 128px;
      margin: 10px;
  }
  
  .box-title-app .title-app {
      font-size: 70px;
  }
  
  .box-title-app .sub-title-app {
      font-size: 52px;
  }
  
  .box-title-app-mobile .title-app {
      font-size: 30px;
  }
  
  .box-title-app-mobile .sub-title-app {
      font-size: 22px;
  }
  
  .box-bottom {
      height: 40vh;
      width: 100%;
      background-color: white;
      text-align: center;
  }
  
  .box-content {
      padding: 10px;
  }
  
  .title-content {
      color: #0099ff;
      font-size: 38px;
  }
  
  .box-menu-list {
      padding: 15px 0px;
      margin: 0 auto;
      align-items: center;
  }
  
  .box-menu {
      cursor: pointer;
      width: 120px;
      height: 120px;
      padding: 10px;
      margin: 0 10px;
      background-color: #0099ff;
      color: white;
      text-align: center;
      display: inline-grid;
  }
  
  .box-menu-icon {
      padding: 10px;
  }
  
  .box-menu-icon img {
      width: 48px;
  }
  
  .box-menu-label {}
  
  .login-content {
      width: 360px;
      display: inline-block;
  }
  
  .form-login {
      border: #aaa 1px solid;
      border-radius: 15px;
      background: #fff;
      padding: 20px 10px;
      margin: 20px 0px;
  }
  
  .form-login .line {
      border-color: #aaa;
      padding: 0px;
      margin: 5px 5px;
  }
  
  .form-login .form-group {
      margin-bottom: 0px;
  }
  
  .form-login .form-input {
      border: none;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 28px;
      background-color: #fff !important;
  }
  
  .form-login .form-input:focus {
      outline: none !important;
  }
  
  .form-login .input-group-addon {
      border: none;
      cursor: pointer;
      background-color: #fff !important;
  }
  
  .form-control:focus {
      border-color: inherit;
      -webkit-box-shadow: none;
      box-shadow: none;
  }
  
  .btn-login {
      background-color: #0088ee;
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 15px;
  }