/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
    background-color: #e3e7e6;
    font-family: "Bookman Old Style" !important;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}


/*
 * Sidebar
 */


/* Hide for mobile, show later */

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 70px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}


/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar>li>a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar>.active>a,
.nav-sidebar>.active>a:hover,
.nav-sidebar>.active>a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
    height: 100%;
}

@media (min-width: 768px) {
    .main {
        /* padding-right: 40px;
        padding-left: 40px; */
    }
}

.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.navbar-main {
    background-color: #0099ff !important;
}

.navbar-main .navbar-collapse {
    padding-top: 10px;
    padding-bottom: 5px;
}

.navbar-main .navbar-header {
    padding-top: 0px;
    padding-bottom: 20px;
}

.navbar-brand {
    color: white !important;
}

.nav-menu li a {
    font-size: 16px;
    color: white !important;
}

.content-main {
    position: relative;
    top: 30px;
}

.logo-app {
    width: 52px;
    top: -10px;
    position: relative;
    display: inline-block !important;
}

.title-app {
    display: inline-block;
}

.btn-flat {
    border-radius: 0px;
    padding: 10px 15px;
}

.input-flat {
    border-radius: 0px;
}

.input-base {
    padding: 20px 10px;
}


/* .select2-selection__rendered {
    padding: 20px 10px;
} */


/* .select2-container .select2-selection--single {
    padding: 20px 10px;
} */


/* .select2-selection__arrow {
    padding: 20px 10px;
} */

.btn-dark {
    background-color: #0099ff;
    color: white;
}

.btn-dark:active,
.btn-dark:hover,
.btn-dark {
    color: white;
}

.btn-dark-2 {
    background-color: #314069;
    color: white;
}

.btn-dark-2:active,
.btn-dark-2:hover,
.btn-dark-2 {
    color: white;
}

.list-menu-drh .item-menu-drh {
    padding: 10px 15px;
    cursor: pointer;
}

.list-menu-drh .item-menu-drh {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #aaa;
}

.list-menu-drh .item-menu-drh.active {
    background-color: #aaa;
    color: #fff;
}

.no-padding-side {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.form-main .form-group {
    /* padding-bottom: 30px !important; */
    display: -webkit-box;
}

.form-main .control-label,
.form-main-control .control-label {
    color: #999 !important;
}

.jqx-disableselect-light span {
    color: #999 !important;
    font-size: 14px;
    ;
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0 !important;
    box-shadow: 0 0 0 !important;
    border-color: #ccc !important;
}

.stylish-input-group button {
    border: 0 !important;
    background: transparent !important;
    padding: 3px;
}

.tree-no-icon .tree-icon.tree-folder,
.tree-no-icon .tree-icon.tree-folder-open {
    display: none;
}

.tree-no-icon .tree-icon.tree-loading {
    display: inline-block !important;
}

.tree-no-icon .tree-icon.tree-file {
    display: none;
}

.tree-base .tree-node {
    padding-top: 10px;
    height: 45px;
}

.tree-base .tree-title {
    font-size: 15px;
    font-family: "Bookman Old Style" !important;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 40px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.input-file-button {
    cursor: pointer !important;
}

.loader-mask {
    position: fixed;
    left: 0px;
    top: 0px;
    padding-top: calc(50vh - 100px);
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(200, 200, 200, 0.4);
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #314069;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    z-index: 10000;
    position: relative;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.action-download-dokumen {
    font-size: 18px;
}

.ui-datepicker-div {
    z-index: 1050 !important;
}

.datepicker {
    z-index: 1050 !important;
}

.form-main-control .row-input {
    padding-top: 10px;
    padding-bottom: 10px;
}