body,html {
background:#fff;
margin:0;
padding:0;
font-family:calibri;
font-size:18px;
}
#wrap {
width:100%;
height:auto;
margin:0px auto;
background:#fff;
border-style:none;
}
#header {
width:100%;
height:70px;
background: rgba(7,131,0,1);
background: -moz-linear-gradient(45deg, rgba(7,131,0,1) 0%, rgba(7,131,0,1) 26%, rgba(164,179,87,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(7,131,0,1)), color-stop(26%, rgba(7,131,0,1)), color-stop(100%, rgba(164,179,87,1)));
background: -webkit-linear-gradient(45deg, rgba(7,131,0,1) 0%, rgba(7,131,0,1) 26%, rgba(164,179,87,1) 100%);
background: -o-linear-gradient(45deg, rgba(7,131,0,1) 0%, rgba(7,131,0,1) 26%, rgba(164,179,87,1) 100%);
background: -ms-linear-gradient(45deg, rgba(7,131,0,1) 0%, rgba(7,131,0,1) 26%, rgba(164,179,87,1) 100%);
background: linear-gradient(45deg, rgba(7,131,0,1) 0%, rgba(7,131,0,1) 26%, rgba(164,179,87,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#078300', endColorstr='#a4b357', GradientType=1 );
border-bottom:2px solid #3FA6E8;

border-radius: 9px 9px 9px 9px;
-moz-border-radius: 9px 9px 9px 9px;
-webkit-border-radius: 9px 9px 9px 9px;
border: 0px solid #000000;
}
#header h1 {
color:#fff;
padding:18px;
margin:0;
font-family:david;
font-size:35px;
}
#content {
width:100%;
height:auto;
background:#fff;
box-shadow:0 0 3px #999, 0 0 10px #999;
}
#content .kosong {
width:1200px;
height:50px;
background:transparent;
}
#content .kosong a {
text-decoration:none;
color:#fff;
font-family:arial;
border-radius:3px;
background-color:#4792D9;
padding:8px 14px;
margin:10px 10px 10px 10px;
float: right;
}
#content .kosong a:hover{
background:#207ce5;
}
#content .contein {
width:1170px;
height:auto;
margin:10px auto;
padding:0;
background:transparent;
}
#content .contein table .line {
 border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}
#content .contein table .line >p{
padding:0;
margin:0;
}


/*#content table a{
text-decoration:none;
color:#fff;
padding:2px 8px;
border:1px solid #13C0A2;
background-color: #237114;
border-radius:3px;
}*/
#content .contein table .line:last-child {
border-right:1px solid #44C6F6;
}
#content .contein .inp{
padding:5px;
border:1px solid #333;
width:200px;
width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	position: relative;
}
#content .contein .smb{
padding:5px 10px;
color:#fff;
border-style:none;
border-radius:3px;
background:#0066ff;
}
#footer {
width:1200px;
height:auto;
background:transparent;
text-align:right;
padding-top:5px;
padding-bottom:10px;
text-shadow:0 0 2px #999;
}
#footer span{
margin-right:15px;
}

table {
    width:100%;
}
table, th, td {
   border-collapse:collapse;
	border:1px solid #999;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
}
th, td {
    padding: 5px;
    text-align: left;
}
table tr:nth-child(even) {
    /*background-color: #fff;*/
}
table tr:nth-child(odd) {
   background-color:#fff;
}
table th{
   background:#279301;
   color:#fff;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}