<style type="text/css">
    .card-header {
  background: #f1df9d;
  padding: 15px;
  color: #fff;
  border-bottom: 1px solid #eee;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
}

nav.navbar {
  background: #419bab;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  position: relative;
  border-radius: 0;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding-left: 0;
  padding-right: 0;
  /*==== Toggle Sidebar Btn ====*/
  /*==== Navbar Items ====*/
  /*==== Search Box ====*/
  /*==== Dropdowns ====*/
}

.card-header {
  background: #f1df9d;
  padding: 15px;
  border-bottom: 1px solid #eee;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
}

footer.main-footer {
  background: #419bab;
  color: #fff;
  padding: 10px;
}

nav.side-navbar ul a:hover {
  background: #92ccd6;
  border-left: 4px solid #419bab;
  color: #fff;
}

nav.side-navbar ul li.active a:hover {
  background: #92ccd6;
}

.btn-primary {
  color: #fff;
  background-color: #419bab;
  border-color: #419bab;
}

.btn-primary:hover {
  color: #fff;
  background-color: #75c8d6;
  border-color: #75c8d6;
}

a {
  color: #fff;
  text-decoration: none;
}
  
</style>